<!DOCTYPE html>
<html>
  <head>
    <title>FfmmComparison</title>
    <%= csrf_meta_tags %>
 

    <%= csp_meta_tag %>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
     <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
